<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IAP</key>
	<dict>
		<key>Love</key>
		<string>com.intencemedia.animatedgifkeyboard.love</string>
		<key>Zombies</key>
		<string>com.intencemedia.animatedgifkeyboard.zombies</string>
		<key>Cartoons</key>
		<string>com.intencemedia.animatedgifkeyboard.cartoons</string>
		<key>Meme</key>
		<string>com.intencemedia.animatedgifkeyboard.meme</string>
		<key>Funnies</key>
		<string>com.intencemedia.animatedgifkeyboard.funnies</string>
		<key>Movies</key>
		<string>com.intencemedia.animatedgifkeyboard.movies</string>
		<key>Sci-Fi</key>
		<string>com.intencemedia.animatedgifkeyboard.scifi</string>
		<key>Animals</key>
		<string>com.intencemedia.animatedgifkeyboard.animals</string>
		<key>Trending</key>
		<string>com.intencemedia.animatedgifkeyboard.trending</string>
		<key>All</key>
		<string>com.intencemedia.animatedgifkeyboard.all</string>
	</dict>
</dict>
</plist>
